.lista-carteiras {
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
}
.card {
	border: solid 1px #43b05c;
	background-color: #f5f5f5;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 8px;
	font-weight: 600;
	max-width: 360px;
	min-height: 200px;
}
.card-titulo {
	display: flex;
	gap: 10px;
	align-items: center;
}
.card-titulo img {
	width: 45px;
	height: 45px;
}
.card p {
	font-size: 18px;
}
.card-footer {
	display: flex;
	gap: 10px;
	align-items: center;
	align-self: flex-end;
	transition: all ease 0.3s;
}

.card-footer img:hover {
	opacity: 0.7;
	cursor: pointer;
}
