.opcoes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

.filtros {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.opnivel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.prioridades {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.prioridadesCard {
    width: 400px;
    height: 230px;
    border-radius: 4px;
    margin: 20px;
    background-color: whitesmoke;
}

#nivelPrioridade {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 10px;
}

#nivel {
    width: 150px;
    height: 5px;
    background-color: red;
    margin-left: 250px;
}

.descricaoObj {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    font-size: 20px;
    color: darkgrey;
    font-family: 'Righteous', cursive;
}

small {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    color: darkgray;
}

b {
    color: #363636;
}

.op {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opFiltro {
    width: 400px;
}

.buttonFiltro {
    width: 130px;
    height: 35px;
    background-color: blue;
    color: white;
    font: 20px;
    font-family: 'Righteous', cursive;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonFiltro:hover {
    background-color: darkblue;
    transition: all;
}

button {
    width: 130px;
    height: 30px;
    background-color: darkgrey;
    color: white;
    font: 20px;
    font-family: 'Righteous', cursive;
    border: none;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #363636;
    transition: all;
}

.selects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.select {
    width: 150px;
    height: 50px;
    border: 1px solid darkblue;
    font-size: 18px;
    text-align: center;
    background: white;
}

.modal-metas {
    background-color: #fff;
    width: 50%;
    height: 60%;
    min-width: 300px;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.metas {
    height: 50px;
    width: 200px;
    border: 1px solid darkblue;
    font-size: 20px;
    text-align: center;
}

.infoTran-metas {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.tituloTran-metas {
    color: black;
    padding: 0;
    margin-top: 15%;
}

.tituloTran-meta {
    color: black;
    padding: 0;
    margin-top: 15%;
    margin-bottom: 10%;
}

#tipoMetas {
    color: darkblue;
    font-size: 30px;
    text-align: center;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.footer-met {
    display: flex;
    background-color: #fff;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: black;
    gap: 20px;
    font-size: 20px;
    margin-top: 0%;
    padding-bottom: 2%;
    padding-top: 10%;
}