* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.opcoes {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

.filtros {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtro {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

.opnivel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.prioridades {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
}

.prioridadesCard {
    width: 400px;
    height: 200px;
    border-radius: 4px;
    margin: 20px;
    background-color: whitesmoke;
}

#nivelPrioridade {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 10px;
}

#nivel {
    width: 150px;
    height: 5px;
    background-color: red;
    margin-left: 250px;
}

.descricaoObj {
    width: 100%;
    min-height: 90px;
    padding: 20px;
    font-size: 20px;
    color: darkgrey;
    font-family: 'Righteous', cursive;
}

small {
    width: 100%;
    padding: 17px;
    font-size: 18px;
    font-family: 'Righteous', cursive;
    color: darkgray;
}

b {
    color: #363636;
}

.op {
    width: 100%;
}

.opFiltro {
    width: 400px;
}

a {
    width: 130px;
    height: 30px;
    background-color: darkgrey;
    color: white;
    font: 20px;
    font-family: 'Righteous', cursive;
    border: none;
    border-radius: 4px;
    margin-left: 260px;
    cursor: pointer;
}

.buttonFiltro {
    width: 130px;
    height: 35px;
    background-color: blue;
    color: white;
    font: 20px;
    font-family: 'Righteous', cursive;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonFiltro:hover {
    background-color: darkblue;
    transition: all;
}

a:hover {
    background-color: #363636;
    transition: all;
}